---
layout: page
title: Airspace
permalink: /
---



<!-- Slider Start -->
<section id="slider" class="fade-in">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">COME RIDE WITH US!</h1>
          <p class="animated fadeInUp">Recreational and Competitive</p>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- Clients Logo Section Start -->
<section id="clients-logo-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div id="clients-logo" class="owl-carousel">
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/clients-logo1.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/MGCC_Logo_Pantone-FINAL-1-768x480.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/clients-logo3.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/clients-logo4.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/clients-logo5.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/clients-logo3.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/clients-logo2.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/clients-logo5.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/clients-logo1.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/clients-logo4.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/clients-logo5.png" alt="Features">
            </div>
            <div class="clients-logo-img">
              <img src="{{ site.baseurl }}/img/clients/clients-logo3.png" alt="Features">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>National Cycling Centre Hamilton</h2>
          </div>
          <p>A legacy of the 2003 UCI World Road Cycling Championships in Hamilton Ontario.</p>

          <p> One of five nationally recognized cycling centres in Canada responsible for identifying, recruiting, testing, coaching and training high performance and development athletes in Ontario. Formally partnered with the Canadian Cycling Association, the Ontario Cycling Association, the City of Hamilton and McMaster University. Since its creation in 2005, the Centre has coached over 75 athletes to medals at National Championships and/or to become members of the Canadian National Cycling Team!</p>

           <p> The NCCH has also partnered with key organizations to form the very first Para Cycling Centre in Canada!</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/rotating/IMG_1716.jpg" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WE BELIEVE IN GREAT IDEAS</h2>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <a href="#" class="btn btn-view-works">View Works</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Disciplines</h2>
        <p>Anything on a bike is good!</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-bicycle"></i>
          <h4>Road</h4>
          <p>Our centre in Ancaster is at the Western edge of Hamilton and surrounded by incredible quiet country rodes where we train.  We race locally, provincially, nationally, internationally.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">

          <h4>Track</h4>
          <p>We ride and race at both the Mattamy National Cycling Centre velodrome in Milton and the Forest City Velodrome in London, Ontario</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">

          <h4>Mountain Bike</h4>
          <p>Our centre borders the Hamilton Conservation Authority with over 70km of trails for all abilities.  Our riders compete at Milton, Ontario Cups, Canada Cups, Provincial and National Championships</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">

          <h4>Cyclocross</h4>
          <p>Mud! Mud! Mud!  Our riders compete in Ontario Cups, Provincial and National Championships, and World Cup races.</p>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
